
div{
    margin-top: 50px;
}
    
#id1{
    height: 50%;

}
.dress2{
    height: 50%;
    width: 40%;
}
img:hover{
    box-shadow: 5px 5px 10px #62626188;
    
}
.btn{
   font-size: 20px;
   height: 60px;
   width: 200px;
   border: none;
   background-color:rgba(255, 166, 0, 0.611) ;
   color: white;
   /* padding: 15px 32px; */
   text-align: center;
}

.btn:hover{
    box-shadow: 5px 5px 10px #62626188;
    
}

.textbox{
    width: 400px;
    height: 60px;
    background-color: black;
    color: greenyellow;
}

